
.banner {
  background-image: linear-gradient(rgba(70,130,180), rgba(178,34,34,0.5)), url("esportback.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  
}

.banner h1 {
  color: white;
  font-size: 50px;
}

.banner h2 {
  color: whitesmoke;
  font-size: 30px;
  font-weight: lighter;
  opacity: 1;
}

.banner a.btn-blue {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  opacity: 0.95;
  }

.banner a.btn-blue:hover {
  background-color: #0056b3;
}

